/* {
	margin: 0;
	padding: 0;
}

/*::after, *::before {
	moz-box-sizing: border-box;
box-sizing: border-box;
}
*/
body{

}
.clearfix{

}
.clearfix::after, .clearfix::before {
    content: "";
    display: table;
    box-sizing: border-box;
}
.clearfix::after{
clear: both;
}
.cool{
//	background: -moz-linear-gradient(top, rgba(41,184,229,1) 0%, rgba(179,220,237,1) 60%, rgba(179,220,237,1) 100%);
	background: #6E7CA3;
	border: 0;
	padding: 0;
    margin: 0;

}
.Liner{
	border: 1px solid black;
}
.heart {
	z-index: 1;
right: 20px;
top: 20px;
font-size: 24px;
outline: 0;
	position: absolute;
	width: 25px;
	height: 25px;
	-webkit-transform: rotate(45deg);  /* для Chrome и Safari */
	-moz-transform: rotate(45deg); /* для Firefox */ 
	-o-transform: rotate(45deg); /* для Opera */ 
	transform: rotate(45deg);
	border: solid 1px red;
	border-top: none;
	border-left: none;
	background: -moz-radial-gradient(170% 50%, circle , #8B0000 0%, #8B0000 52%,  red 76%);

animation-name: anime;
		/* имя кейфрейма для анимации */
	animation-duration: 300ms;
		/* длительность анимации */
	animation-iteration-count: infinite;
		/* количество повторений, в данном случае - бесконечно */
	animation-direction: alternate;
		/* проигрывать анимацию в прямом и в обратном порядке */
	animation-timing-function: ease-in;
}

@keyframes anime {
	from {
		transform: scale(1) rotate(45deg);
	}
	to {
		transform: scale(1.03) rotate(45deg);
	}
}

@keyframes loading{
0%{border-color:#4B5676 #6E7CA3 #6474A1 #4E5E8A}
35%{border-color:#4E5E8A #4B5676 #6E7CA3 #6474A1;border-radius:50%}
50%{border-color:#6474A1 #4E5E8A #4B5676 #6E7CA3;border-radius:50%}
55%{border-color:#6E7CA3 #6474A1 #4E5E8A #4B5676 ;border-radius:50%}
100%{border-color:#4B5676 #6E7CA3 #6474A1 #4E5E8A;transform:rotate(360deg)}
}

.iconSpinner{width:0;
	height:0;
	margin:-1.6px 0 -8px;
	border:0 solid #6E7CA3;
	border-width:8px;
	animation:loading .85s linear infinite;
	opacity:.7;
display:inline-block;
margin-bottom: -2px;
}



.heart:before, .heart:after {
	position:absolute;
	content: ' ';
	-webkit-border-radius: 50px 0 0 50px;
	-moz-border-radius: 50px 0 0 50px;
	border-radius: 25px 0 0 25px;
	width: 17.5px;
	height: 25px;
	border: solid 1px red;
	border-right: none;
	left:-18px;
		top: -2px;
	background: -moz-radial-gradient(15% 50%, circle, #FFE4E1, red 85%);
}
.heart:after {
	position: absolute;
	left: 2.49px;
	top: -23px;
	-webkit-transform: rotate(90deg);
	-moz-transform: rotate(90deg);
	-o-transform: rotate(90deg);
	background: -moz-radial-gradient(50% 86%, circle, #FFB6C1, red, #8B0000 90%);
}

.menu{
	line-height: 45px; 
	font-size:20px;
	float: left;
	height: 40px;
	text-align: right;
	top:50%;
	vertical-align: middle;
	padding-left: 10px;
	padding-right: 10px;

}
.menu:hover{
	opacity: 0.5;
	cursor: pointer;
}
menu{
	overflow: hidden;
	float:right;
	border: 0;
padding: 0;
    margin: 0;
}
menu li{
	float:left;
	list-style-type: none;
	border: 0;
padding: 0;
    margin: 0;
}
.fon {
	background-color: grey;
	position: fixed;
	width:100%;
	height: 100vh;
	z-index: 5;
	left:0;
	top:0;
	opacity: 0.5;
	
}
.form {
		background-color: white;
	position: fixed;
	width:200px;
	height: 200px;
	z-index: 7;
	left:50%;
	top:100px;
	border-radius: 4px;
	margin-left: 125px;
	margin: 6em auto 0 -125px;

}

.row {
	margin-left: -6px;
margin-right: -6px;
box-sizing: border-box;
}

.field::before,.row:after,.row:before{
	content:" ";
	display:table;
	box-sizing: border-box;
}
.field::after,.row::after{
    clear: both;
    -moz-box-sizing: border-box;
	box-sizing: border-box;
	content: " ";
display: table;
}

.field{
	margin-top: 5px;
margin-bottom: 5px;
}

.iconSearch {
	color:inherit;
}

i::before {
    margin-right: 0 !important;
}
.iconSearch::before {
    content: '\e802';
}

.iconSearch::before{
	font-family: 'fontello';
	font-style: normal;
	font-weight: 400;
	speak: none;
	display: inline-block;
	text-decoration: inherit;
	width: 1.1em;
	position: relative;
	vertical-align: baseline;
	text-align: center;
	font-variant: normal;
	text-transform: none;
	box-sizing: border-box;
}

.search {
width: 44px; 
margin-top: -11px; 
border-bottom-left-radius: 0;
border-top-left-radius: 0;
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;
font-weight: 400;
border-radius: 4px;
border: 1px solid #cdd1d4;
line-height: 1.2;
transition: border .2s;
/*padding: .58rem .8rem .48rem !important;
*/
padding: 0;
height: 37px;
font-size: 15px;
background: #fff;
color: #5c6872;
display: inline-block;
outline: 0;
vertical-align: middle;
cursor: pointer;
text-decoration: none;
margin-left: 0;
-moz-border-radius-topleft: 0;
-webkit-border-top-left-radius: 0;
border-top-left-radius: 0;
-moz-border-radius-bottomleft: 0;
-webkit-border-bottom-left-radius: 0;
border-bottom-left-radius: 0;
}


@font-face{
font-family:'fontello';
src: url('../font/fontello.eot?46654749');
  src: url('../font/fontello.eot?46654749#iefix') format('embedded-opentype'),
       url('../font/fontello.woff2?46654749') format('woff2'),
       url('../font/fontello.woff?46654749') format('woff'),
       url('../font/fontello.ttf?46654749') format('truetype'),
       url('../font/fontello.svg?46654749#fontello') format('svg');
       font-weight:400;
       font-style:normal;
   }

input:focus{
	border: 1px solid #6E7CA3;
}
/*input{
box-sizing: border-box;
width: 100%;
	font-weight: 400;
padding: .6em .8em .5em;
border-radius: 4px;
line-height: 1.2;
transition: border .2s;
}
/*button {
	padding:0; border:0}
button::-moz-focus-inner {padding:0; border:0}
button:focus {outline: 1px dotted}
*/
.btn{
	-moz-transition:all .15s ease-in-out;
	display: inline-block;
}
#locationField .addOn{width:44px;margin-top:-4px;border-bottom-left-radius:0;border-top-left-radius:0}

.MessageBlock{
	border: 1px solid #F132 ;background: #D44B38;
	padding:10px;
	
}
.cardPhoto{

	border-radius: 4px 4px 0 0;
	width: 100%;
background-size: cover !important;
background-position: center center;
background-repeat: no-repeat;
border-bottom-width: 1px !important;
}

.iconHeart{
	position: absolute;
left: 0;
font-weight: 400 !important;
color: #fff;
	
}
.iconHeart::before {
		font-family: 'fontello';
	content:'\e801';
	font-style: normal;
font-weight: 400;
color: rgba(71,78,82,.4);
font-size: 24px;
text-decoration: inherit;
vertical-align: baseline;
text-align: center;
font-variant: normal;
text-transform: none;

	}

.iconHeartEmpty{
position: absolute;
left: 0;
font-weight: 400 !important;
color: #fff;	
}
.iconHeartEmpty::before {
		font-family: 'fontello';
	content:'\e800';
	font-style: normal;
font-weight: 400;

font-size: 24px;
}


button.saveHome {
	position: absolute;
z-index: 1;
right: 20px;
top: 20px;
font-size: 24px;
outline: 0;
transition: all .3s ease-in;
cursor: pointer;
color: #fff;
font-weight: 700;
border: 0;
background: 0 0;
}