* {
	margin: 0;
	padding: 0;
}
body{

}
.clearfix{

}
.clearfix::after, .clearfix::before {
    content: "";
    display: table;
    box-sizing: border-box;
}
.clearfix::after{
clear: both;
}
.cool{
	background: -moz-linear-gradient(top, rgba(41,184,229,1) 0%, rgba(179,220,237,1) 60%, rgba(179,220,237,1) 100%);
border: 0;
padding: 0;
    margin: 0;

}
.Liner{
	border: 1px solid black;
}
.heart {
	z-index: 1;
right: 20px;
top: 20px;
font-size: 24px;
outline: 0;
	position: absolute;
	width: 25px;
	height: 25px;
	-webkit-transform: rotate(45deg);  /* для Chrome и Safari */
	-moz-transform: rotate(45deg); /* для Firefox */ 
	-o-transform: rotate(45deg); /* для Opera */ 
	transform: rotate(45deg);
	border: solid 1px red;
	border-top: none;
	border-left: none;
	background: -moz-radial-gradient(170% 50%, circle , #8B0000 0%, #8B0000 52%,  red 76%);

animation-name: anime;
		/* имя кейфрейма для анимации */
	animation-duration: 300ms;
		/* длительность анимации */
	animation-iteration-count: infinite;
		/* количество повторений, в данном случае - бесконечно */
	animation-direction: alternate;
		/* проигрывать анимацию в прямом и в обратном порядке */
	animation-timing-function: ease-in;
}

@keyframes anime {
	from {
		transform: scale(1) rotate(45deg);
	}
	to {
		transform: scale(1.03) rotate(45deg);
	}
}



.heart:before, .heart:after {
	position:absolute;
	content: ' ';
	-webkit-border-radius: 50px 0 0 50px;
	-moz-border-radius: 50px 0 0 50px;
	border-radius: 25px 0 0 25px;
	width: 17.5px;
	height: 25px;
	border: solid 1px red;
	border-right: none;
	left:-18px;
		top: -2px;
	background: -moz-radial-gradient(15% 50%, circle, #FFE4E1, red 85%);
}
.heart:after {
	position: absolute;
	left: 2.49px;
	top: -23px;
	-webkit-transform: rotate(90deg);
	-moz-transform: rotate(90deg);
	-o-transform: rotate(90deg);
	background: -moz-radial-gradient(50% 86%, circle, #FFB6C1, red, #8B0000 90%);
}

.menu{
	line-height: 45px; 
	font-size:20px;
	float: left;
	
	height: 40px;
	text-align: right;
	top:50%;
	vertical-align: middle;
	padding-left: 10px;
	padding-right: 10px;

}
.menu:hover{
	opacity: 0.5;
	cursor: pointer;
}
menu{
	overflow: hidden;
	float:right;
	border: 0;
padding: 0;
    margin: 0;
}
menu li{
	float:left;
	list-style-type: none;
	border: 0;
padding: 0;
    margin: 0;
}
.fon {
	background-color: grey;
	position: fixed;
	width:100%;
	height: 100vh;
	z-index: 5;
	left:0;
	top:0;
	opacity: 0.5;
	
}
.form {
		background-color: white;
	position: fixed;
	width:250px;
	height: 250px;
	z-index: 7;
	left:50%;
	top:100px;
	border-radius: 4px;
	margin-left: 125px;
	margin: 6em auto 0 -125px;

}